node_modules/
.expo/
dist/
web-build/
expo-env.d.ts

# Native builds
ios/
android/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Env
.env*.local

# macOS
.DS_Store
